---

image: fluepke/fluepdot-build-environment:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build
  - build_service_utility
  - docs

create_epub:
  stage: docs
  tags:
    - docker
  script:
    - cd $CI_PROJECT_DIR/docs
    - make epub
  artifacts:
    paths:
      - $CI_PROJECT_DIR/docs/build/epub/fluepdot.epub

build_esp32_image:
  stage: build
  tags:
    - docker
  script:
    - cd $CI_PROJECT_DIR/software/firmware/components/mcufont/mcufont
    - make -j -C encoder mcufont
    - make -j -C fonts
    - cd $CI_PROJECT_DIR/software/firmware
    - cmake .
    - make all -j
  artifacts:
    paths:
      - $CI_PROJECT_DIR/software/firmware/partition_table/partition-table.bin
      - $CI_PROJECT_DIR/software/firmware/bootloader/bootloader.bin
      - $CI_PROJECT_DIR/software/firmware/flipdot-firmware.bin

build_service_util:
  stage: build
  tags:
    - docker
  script:
    - go get -u github.com/a-urth/go-bindata/...
    - go get github.com/fluepke/esptool
    - eval $(go env) && cd $CI_PROJECT_DIR/software/service_utility && $GOPATH/bin/go-bindata -o binary.go ../firmware/partition_table/partition-table.bin ../firmware/bootloader/bootloader.bin ../firmware/flipdot-firmware.bin && go build
  artifacts:
    paths:
      - $CI_PROJECT_DIR/software/service_utility/service_utility
